


.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}
  




.div6 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 2;
}

.div7 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  grid-row-start: 2;
}

.div8 {
  grid-column: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 5;
}

.div9 {
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 4;
}

.div10 {
  grid-column-start: 5;
  grid-row-start: 6;
}

.div11 {
  grid-row: span 3 / span 3;
  grid-column-start: 5;
  grid-row-start: 1;
}
      

  
  .dashboard {
    display: flex;
    height: 100vh;
  }
  
  
  .top3-header {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
  }
  
  .user-icon3 {
    background: #e0f0ec;
    padding: px;
    border-radius: 50%;
  }
  
  .summary-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .card {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  
  .card h3 {
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
  }
  
  .card p {
    font-size: 20px;
    font-weight: bold;
  }
  
  .income {
    color: green;
  }
  
  .expenses {
    color: red;
  }
  
  .content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
  }
  
  .chart,
  .transactions,
  .accounts {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  
  .transactions ul,
  .accounts ul {
    list-style: none;

  }
  
  .transactions li,
  .accounts li {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
  }
  
  .positive {
    color: green;
  }
  
  .negative {
    color: red;
  }
  #contenedor {
    width: 800px;
    height: 400px;
    margin: 20px auto;
  }
  